.footer-section {
  min-height: 40%;
  color: white;
  background-color: #212121;
  display: flex;
  align-items: center;
  a {
    color: white;
  }
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-nav {
  flex-direction: column;
}

.footer-contact-header {
  text-decoration: underline;
}

@include media-breakpoint-down(sm) {
  .footer-container {
    padding-top: 60px;
    flex-direction: column-reverse;
  }
  .footer-nav {
    text-align: center;
  }
  .footer-contact-col {
    padding-top: 60px;
    text-align: center;
    font-size: 0.8em;
  }
}
