.about-section {
  min-height: 70%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.6em;
  // text-shadow: 2px 2px 5px #212121;
  background-image: url("../../images/skill-bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.about-header {
  text-decoration: underline;
}

.about-row {
  width: 70%;
  margin: 0 auto;
}

@include media-breakpoint-down(lg) {
  .about-row {
    width: 100%;
  }
}
